body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 5px solid #00a2a2;
    border-left-color: #ababab;
    animation: donut-spin 2s linear infinite;
}

.body-scroll-disable {
    overflow: hidden;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.btn {
    padding: 12px 36px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 300ms ease-in-out;
    cursor: pointer;
}

.btn__create {
    background: green;
    color: white;
}

.btn__create:hover {
    background-color: #005600;
}

.btn__cancel {
    background-color: #cc0000;
    color: white;
}

.btn__cancel:hover {
    background-color: #940000;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 12px 8px;
    border: 1px solid #ececec;
    border-top: none;
    width: 100%;
}

.card:first-child {
    border-top: 1px solid #ececec;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.card__author {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card__author--username {
    font-weight: 700;
}

.card__author--email {
    color: #ababab;
    font-size: 12px;
}

.content__title {
    font-weight: 700;
    font-size: 18px;
}

.card__controls {
    display: flex;
    gap: 8px;
}

.card__edit {
    cursor: pointer;
    color: orange;
    transition: font-weight 100ms ease-in-out;
}

.card__edit:hover {
    font-weight: 700;
}

.card__delete {
    color: red;
    cursor: pointer;
    transition: font-weight 100ms ease-in-out;
}

.card__delete:hover {
    font-weight: 700;
}

.modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__window {
    background-color: white;
    padding: 24px;
    border-radius: 4px;
}

.modal__content {
    padding: 24px 0;
}

.card__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__form textarea {
    resize: none;
    height: 200px;
    width: 400px;
}